.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.form {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-top: 6px;
  height: 37px;
  padding: 0px 10px;
  font: size 16px;
  background-color: aliceblue;
  border: 0;
  border-color: black;
  margin-bottom: 31px;
  width: 30em;
}

button {
  background-color: blueviolet;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10em;
}
.LoginPage {
  text-align: center;
  background-color: rgb(189, 139, 147);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
label {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

.SignUpPage {
  text-align: center;
  background-color: grey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

navbar {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
